{% extends 'base.html' %}

{% block content %}
<!-- Main Section Start -->
<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Прегледайте адреса за фактуриране</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    

                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        <div class="billing-address">
                                            <div><b>{{ order.name }}</b></div>
                                            <div>{{ order.address }}</div>
                                            <div>{{ order.city }} - {{ order.pin_code }}</div>
                                            <div>{{ order.country }}</div>
                                            <div><b>Phone: </b>{{ order.phone }}</div>
                                            <div><b>Email: </b>{{ order.email }}</div>
                                            <div><b>Payment: </b>{{ order.payment_method }}</div>
                                            <br>
                                            <div><a href="{% url 'checkout' %}" class="btn btn-outline-danger">Редактирай</a></div>
                                            <br>
                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- Your order section -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Твоята поръчка</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">

                                    <div>
                                        <table class="table">
                                            <tbody>
                                                {% for item in cart_items %}
                                                <tr>
                                                    <td>
                                                        <img src="{{ item.fooditem.image.url }}" width="40" alt="Food Image">
                                                    </td>
                                                    <td style="line-height: 1.5;"><b>{{ item.fooditem }}</b></td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td style="line-height: 1.5;">BGN {{ item.fooditem.price }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                        <ul>
                                            <li style="list-style-type: none;">
                                                Междинна сума
                                                <span class="price float-right">
                                                    <span class="currency">BGN</span>
                                                    <span id="subtotal">{{ subtotal }}</span>
                                                </span>
                                            </li>
                                            {% for key, value in tax_dict.items %}
                                                {% for i, j in value.items %}
                                                    {% if key == "Delivery" %}
                                                        <li style="list-style-type: none;">
                                                            Доставка
                                                            <span class="price float-right">
                                                                <span class="currency">BGN</span>
                                                                <span id="tax-{{ key }}">{{ j }}</span>
                                                            </span>
                                                        </li>
                                                    {% else %}
                                                        <li style="list-style-type: none;">
                                                            {{key}} <small>({{ i }}%)</small>
                                                            <span class="price float-right">
                                                                <span class="currency">BGN</span>
                                                                <span id="tax-{{ key }}">{{ j }}</span>
                                                            </span>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            <li style="list-style-type: none; font-weight: 600;">
                                                Крайна сума
                                                <span class="price float-right">
                                                    <span class="currency">BGN</span>
                                                    <span id="total">{{ grand_total }}</span>
                                                </span>
                                            </li>

                                            <!-- PayPal checkout button -->
                                            <div id="paypal-button-container"></div>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

<script>
    // Function for extracting the value of Cookies; It is used because we need a CSRF token for security when sending AJAX requests to the server.
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
                }
            }
        }
        return cookieValue;
    }

    var grand_total = parseFloat("{{ grand_total }}") / 2; // Calculates and formats the final payment amount.
    grand_total = grand_total.toFixed(2);
    var url = "{% url 'payments' %}" // URL for server payment processing.
    var order_number = "{{ order.order_number }}" // Order number
    const csrftoken = getCookie('csrftoken'); // CSRF token to protect data when sending.
    var order_complete = "{% url 'order_complete' %}" // URL for a page that confirms a completed order.

    paypal.Buttons({

    // When the payment button is pressed, the following operations occur:
    // Creates a PayPal order with the specified final payment amount.
    createOrder: function(data, actions) {
        return actions.order.create({
            purchase_units: [{
                amount: {
                    value: grand_total
                }
            }]
        });
    },

    // Finalizes the transaction
    // When the transaction is approved, the order is completed and the transaction information is retrieved.
    onApprove: function(data, actions) {
        return actions.order.capture().then(function(orderData) {
            var transaction = orderData.purchase_units[0].payments.captures[0];

            var transaction_id = transaction.id
            var status = orderData.status
            var payment_method = 'PayPal'
            // Sends the transaction data to the save server.
            sendTransaction(transaction_id, payment_method, status);

            // Updates the element content to display a message that the transaction is being processed.
            const element = document.getElementById('paypal-button-container');
            element.innerHTML = '';
            element.innerHTML = '<h4 class="text-center"><i class="fa fa-spinner fa-spin"></i> Please wait...</h4>';
        });
    }}).render('#paypal-button-container');

    // Stores the data in the database.
    function sendTransaction(transaction_id, payment_method, status){
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'order_number': order_number,
                'transaction_id': transaction_id,
                'payment_method': payment_method,
                'status': status,
                'csrfmiddlewaretoken': csrftoken,
            },
            success: function(response){
                console.log('response==>', response)
                window.location.href = order_complete + '?order_no=' + response.order_number + '&trans_id=' + response.transaction_id
            }
        })
    }

</script>

{% endblock %}